* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: darkorange;
    background-color: navy;
}

header {
    padding: 10px;
    border: 5px solid darkorange;
}

h1 {
    border-bottom: 1px solid lightblue;
}

form {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    border: 5px solid gold;
    border-radius: 30px;
    background-color: dodgerblue;
    color: black;
}

fieldset {
    display: grid;
    gap: 10px;
    margin: 20px;
}

legend {
    padding: 10px;
    font-size: 1.3em;
    color: navy;
}

label,
input,
button,
select,
textarea {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

label {
    text-align: left;
    padding-right: 10px;
}

input,
select,
textarea {
    padding: 10px;
    font-size: 1.1em;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    padding: 10px;
    margin: 10px;
    border: 2px solid darkorange;
    background-color: navy;
    border-radius: .5rem;
    font-size: 1.2rem;
    color: darkorange;

}

button:hover {
    background-color: darkgreen;
}

footer {
    padding: 10px;
    border: 5px solid darkorange;
    background: navy;
    margin: 10px;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 10px;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 10px;
}

label {
    text-align: left;
    padding-right: 10px;
}

fieldset label {
    justify-self: start;
}

.form-item:has(#livedplaces) label {
    display: block;
    text-align: center;
    padding-right: 0;
    margin-bottom: 5px;
}

.form-item:has(#livedplaces) textarea {
    display: block;
    width: 100%;
}

fieldset div {
    display: grid;
    grid-template-columns: 300px, 1fr;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
}

input[type="checkbox"] {
    justify-self: start;
    width: 18px;
    height: 18px;
    cursor: pointer;
}