:root {
    --main-color: rgb(0, 0, 139);
    --secondary-color: rgb(255, 169, 0);
}

nav {
    background-color: var(---main-color);
    margin: 30px;
    border: 10px solid var(---secondary-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(---main-color);
}

main {
    max-width: fit-content;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main img {
    width: 150px;
    height: auto;
    border: 10px solid var(---secondary-color);
    padding: 10px;
    box-shadow: 0 0 10px;
}

p {
    padding: 0px;
}

aside {
    width: 100%;
    margin: 20px 0px;
    border: 1px solid black;
    padding: 10px;
    background-color: lightgray;
    color: black;
}

aside img {
    width: 200px;
    height: auto;

}

footer {
    margin-top: 15px;
    border-top: 1px solid black;
    text-align: center;
}

/*This is a css comment*/

nav {
    background-color: var(---main-color);
    margin: 30px;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(---main-color);
}

main {
    max-width: fit-content;
}

main img {
    width: 150px;
    height: auto;
    border: 10px solid var(---secondary-color);
    padding: 10px;
    box-shadow: 0 0 10px;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

aside {
    width: 100%;
    margin: 20px 0px;
    border: 1px solid black;
    padding: 10px;
    background-color: lightgray;
    color: black;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid black;
    text-align: center;
}

/*This is a css comment*/